<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--构造器注入 根据索引-->
    <bean class="com.nc.bean.Book" id="book">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="西游记"/>
        <constructor-arg index="2" value="88"/>
    </bean>
    <!--构造器注入 根据名称-->
    <bean class="com.nc.bean.Book" id="book2">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="name" value="红楼梦"/>
        <constructor-arg name="price" value="68"/>
    </bean>
    <!--无参 Set方法注入 因为反射，所以不是用Bean中定义的属性名，而是内省机制分析根基set/get方法出来的属性名-->
    <bean class="com.nc.bean.Book" name="book3">
        <property name="id" value="3"/>
        <property name="name" value="雪中悍刀行"/>
        <property name="price" value="38"/>
    </bean>
    <!--P名称空间注入 也是用的Set注入-->
    <bean class="com.nc.bean.Book" name="book4" p:id="4" p:name="大魏宫廷"/>
    <!--静态工厂-->
    <bean class="com.nc.okhttp.OkHttpUtils" factory-method="getInstance" id="okHttpClient"/>
    <!--实例工厂-->
    <bean class="com.nc.okhttp.OkHttpUtils2" id="okHttpUtils"/>
    <bean class="okhttp3.OkHttpClient" factory-bean="okHttpUtils" factory-method="getInstance" id="okHttpClient2"/>
    <!--对象注入-->
    <bean class="com.nc.bean.User" id="user">
        <property name="cat" ref="cat"/>
        <property name="favorites">
            <array>
                <value>足球</value>
                <value>篮球</value>
                <value>排球</value>
            </array>
        </property>
        <property name="cats">
            <list>
                <ref bean="cat"/>
                <bean class="com.nc.bean.Cat">
                    <property name="name" value="小白"/>
                    <property name="color" value="白色"/>
                </bean>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="age" value="99"/>
                <entry key="type" value-ref="cat"/>
            </map>
        </property>
        <property name="info">
            <props>
                <prop key="age">99</prop>
                <prop key="name">你猜</prop>
            </props>
        </property>
    </bean>
    <bean class="com.nc.bean.Cat" id="cat">
        <property name="name" value="小花"/>
        <property name="color" value="花色"/>
    </bean>
    <!--Xml自动化扫描-->
    <context:component-scan base-package="com.nc.service"/>
    <!--不扫描那种注解-->
    <context:component-scan base-package="com.nc.service com.nc.dao">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!--多环境切换-->
    <beans profile="win">
        <bean class="com.nc.profile.DataSource" id="dataSource">
            <property name="url" value="jdbc:mysql://127.0.0.1:3306/dev"/>
            <property name="name" value="root"/>
            <property name="password" value="123456"/>
        </bean>
    </beans>
    <beans profile="linux">
        <bean class="com.nc.profile.DataSource" id="dataSource">
            <property name="url" value="jdbc:mysql://210.13.3.127:3306/dev"/>
            <property name="name" value="admin"/>
            <property name="password" value="address"/>
        </bean>
    </beans>
</beans>
